# macOS
.DS_Store

# Build output
lib
dist
build
*.tsbuildinfo

# Dependencies
node_modules
.pnpm-store

# Testing
coverage
test-assets
test-output
*.log

# IDE
.vscode
.idea

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Temporary
.tmp
.cache
*.swp
*.swo
*~

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-debug.log*

# Misc
.next
.out
assets
